@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h2 {
  text-align: center;
}
.out {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  width: 30%;
  height: 8rem;
  margin: 1rem 35%;
  border: 1px solid black;
}

.color-div {
  text-align: center;
}
